@section scripts{

    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/Angular-Services/Services.js")
    @Scripts.Render("~/Scripts/Angular-App/BookShelfApp.js")
    @Scripts.Render("~/Scripts/Angular-Controllers/BookShelfCtrl.js")
}

<div id="bookshelfcontainer" ng-controller="BookShelfCtrl" ng-init="Initiate()">
    <div id="logo">
        Book Administration
    </div>
    <div class="space"></div>
    <div id="middle">
        <div id="listOfbooks">List of books</div>
        <div id="filterinput"><input type="text" ng-model="filter" placeholder="Filter"/></div>
    </div>
    <div class="space"></div>
    <div>
        <table id="booktable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Loaned To</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books">
                    <td>{{book.Title}}</td>
                    <td>{{book.Author}}</td>
                    <td>{{book.ISBN}}</td>
                    <td>{{book.LoanedToName}}</td>
                    <td ng-show="book.LoanedTo == null" ng-click="showModal(book)"><button type="button"  class="btn btn-primary buttonheight"><span class="buttonstyle">Loan</span></button></td>
                    <td ng-show="book.LoanedTo != null" ng-click="return(book)"><button type="button"  class="btn btn-primary buttonheight"><span class="buttonstyle">Return</span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="space"></div>
    <!--Modal-->
    <div ng-show="modalVisible" id="modalcontainer">
        <div id="modalbg" ng-click="hideModal()"></div>
        <div id="modalcontent">
            <div class="xclose" ng-click="hideModal()">X</div>
            <div><span class="textstylebold">Book Title:</span>&nbsp;&nbsp;<span class="textstyle">{{bookChosen.Title}}</span></div>
            <div><span class="textstylebold">Book Author:</span>&nbsp;&nbsp;<span class="textstyle">{{bookChosen.Author}}</span></div>
            <div><span class="textstylebold">Book ISBN:</span>&nbsp;&nbsp;<span class="textstyle">{{bookChosen.ISBN}}</span></div>
            <div class="space"></div>
            <div class="textstyle">Select the person who wants to loan this book</div>
            <div class="space"></div>
            <select ng-model="userSelected" ng-options="user.Firstname + ' ' + user.Lastname  for user in users">
                <option value="">-- select person --</option>
            </select>
            <div class="space"></div>
            <div class="space"></div>
            <div>
                <button ng-click="hideModal()" id="buttoncancel" class="btn btn-default">Cancel</button>
                <button ng-click="loan()" id="buttonsave" class="btn btn-default">Save</button>
            </div>
            <br/>
            <br/>
            <div ng-show="didNotSelectAnyUser" style="color: red">You didn't choose any person to loan this book to</div>
        </div>
    </div>
</div>


